{% extends 'base.html.twig' %}
{% block title %}MyPhotoFrameOnline.com - Frame uploaden{% endblock %}

{% block body %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.20/fabric.js"></script>

    {% for frame in frames %}
        <!-- Frame panel -->
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        <input type="file" id="imageLoader" name="imageLoader" accept="image/*"  />
                    </div>
                    <div class="pull-right"> <a href="#" id="imageSaver" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> Opslaan</a></div>
                    <div class="pull-right" style="margin-right: 10px;"> <a href="#" id="remove" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Verwijderen</a></div>
                    <div class="pull-right" style="margin-right: 10px;"> <a data-toggle="modal" data-target="#helpModal" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span> Help</a></div>
                    <div class="clearfix"></div>
                </div>
                <!-- Panel body with canvas -->
                <div class="panel-body">
                    <canvas id="imageCanvas" width="{{  frame.imageWidth + 50 }}px" height="{{ frame.imageHeight + 50}}px" style="border: 1px solid #e7e7e7;"></canvas>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="helpModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Informatie</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                           Hoe krijg ik de geüploade foto achter de fotoframe?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Klik op de fotoframe.
                                     </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Kan ik meerdere foto's uploaden?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                       Klik nogmaals op bestand kiezen.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Hoe verwijder ik mijn foto?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                    Selecteer de foto en klik op de knop verwijderen.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Social Media -->
        <div class="container" style="padding-bottom: 1%;">
            <div class="text-center center-block">
                {% for social in socials %}
                    <a href="{{ social.url }}" target="_blank"><img width="20px" src="{{ asset('uploads/' ~ social.imageName) }}"></a>
                {% endfor %}
            </div>
        </div>

        <!-- Load JS with twig -->
        <script>

            // Frame upload handling
            var canvas = new fabric.Canvas('imageCanvas', {
                backgroundColor: 'rgba(255,255,255,0)'
            });

            var imageLoader = document.getElementById('imageLoader');
            imageLoader.addEventListener('change', handleImage, false);

            function handleImage(e) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var img = new Image();
                    img.onload = function () {
                        var imgInstance = new fabric.Image(img, {
                            scaleX: 0.8,
                            scaleY: 0.8
                        })
                        canvas.add(imgInstance);
                    }
                    img.src = event.target.result;
                }
                reader.readAsDataURL(e.target.files[0]);
            }

            // Remove selected object
            $('#remove').click(function(){
                canvas.getActiveObject().remove();
                var $el = $('#imageLoader');
                $el.wrap('<form>').closest('form').get(0).reset();
                $el.unwrap();
            });

            // Load image from URL
            fabric.Image.fromURL('{{ asset('uploads/' ~ frame.imageName ) }}', function(myImg ) {
                var img1 = myImg.set({ left: 25, top: 25 ,width:{{ frame.imageWidth }},height:{{ frame.imageHeight}}    });
                canvas.add(img1);
            });

            // if Edge browser save by loading image on new tab
            if (/Edge/.test(navigator.userAgent)) {
                var imageSaver = document.getElementById('imageSaver');
                imageSaver.addEventListener('click', saveImage, false);

                // Save image and download
                function saveImage(e) {
                    var html="<img src='"+canvas.toDataURL()+"' name='{{ frame.imageName }}'/>";
                    var newTab=window.open();
                    newTab.document.write(html);}
            }
            // If not Edge save by this way
            else{
                var imageSaver = document.getElementById('imageSaver');
                imageSaver.addEventListener('click', saveImage, false);
                // Save image and download
                function saveImage(e) {
                    this.href = canvas.toDataURL({
                        format: 'png',
                        quality: 1.0
                    });
                    this.download = '{{ frame.name }}.png'}
            }

        </script>
    {% endfor %}

{% endblock %}
