{% extends 'adminbase.html.twig' %}

{% block body %}
    {% include 'adminsidebar.html.twig' %}
    <div class="col-md-10 ">
        <div class="panel  panel-primary">
            <div class="panel-heading text-center">
                Instellingen
                 <a href="{{ path('configuration_edit', {'id': 1}) }}" class="btn btn-default btn-xs pull-right" role="button">Bijwerken</a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Achtergrond</th>
                        <th>Menu</th>
                        <th>Menu tekst</th>
                        <th>Paneel</th>
                        <th>Paneel tekst</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Load categories -->
                    {% for config in configuration %}
                        <tr>
                            <td><img width="100px" src="{{ asset('uploads/' ~ config.logo) }}"></td>
                            <td><div class="square" style="background-color: {{ config.backgroundColor }}"></div></td>
                            <td><div class="square" style="background-color: {{ config.menuColor }}"></div></td>
                            <td><div class="square" style="background-color: {{ config.menuFontColor }}"></div></td>
                            <td><div class="square" style="background-color: {{ config.panelColor }}"></div></td>
                            <td><div class="square" style="background-color: {{ config.panelFontColor }}"></div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <style>
        .square {
            float: left;
            width: 20px;
            height: 20px;
            margin: 5px;
            border: 1px solid rgba(0, 0, 0, .2);
        }
    </style>
{% endblock %}